#header {
    position: fixed;
    width: 100vw;
    top: 0;
}
#header .user-controls {
    text-transform: capitalize;
    cursor: default;
}

#header .logout {
    cursor: pointer;
}

#header .logout:hover {
    color: var(--font-color-hover);
}

#header .controls-container {
    width: 100%;
    min-height: 2rem;

    display: flex;
    justify-content: space-around;
}

#header .special-text {
    color: var(--font-color-hover);
    margin-left: 5px;
}
